header {
    position: sticky;
    max-height: 6rem;
    background-color: gray;

    .logo {
        position: absolute;
        cursor: pointer;
        margin: 0.5rem;

        svg {
            width: 4rem;
            height: 4rem;
        }
    }

    .manu__nav {
        position: absolute;
        margin: 0.5rem;
        cursor: pointer;

        svg {
            width: 4rem;
            height: 4rem;
        }

        .menu__list {
            list-style: none;
        }
    }
}

