header {
    background-color: gray;
    border: 2px solid tomato;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;

    #theme {
        border: 3px solid blue;
        width: 25px;
        height: 25px;
        :checked {
            filter: invert(1);
        }
    }

    svg {
        max-width: 69px;
        max-height: 69px;
    }

    .logo {
        position: relative;
        cursor: pointer;
        margin: auto 1rem;
    }

    nav {
        position: relative;
        margin: auto 1rem;
        cursor: pointer;
    }

    .menu__checkbox {
        display: none;
    }

    .other__button {
        display: none;
    }

    .menu__nav {
        .menu__icon__close {
            display: none;
        }

        .manu__list {
            display: none;
        }

        :checked {
            .menu__icon__close {
                display: inline-block;
            }
    
            .manu__list {
                display: inline-block;
            }

            .menu__icon__open {
                display: none;
            }
        }
    }
}

