header {
    height: 12vh;
    width: 100%;
    background-color: gray;

    .logo {
        cursor: pointer;
        margin: $margin-icon;

        :hover {
            width: 4.5rem;
            height: 4.5rem;
        }

        svg {
            width: 4rem;
            height: 4rem;
        }
    }

    .menu__nav {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        width: 90%

        .menu__checkbox {
            display: none;
        }  

        .menu__label {
            margin: 0.5rem;
            cursor: pointer;

            svg {
                width: 3rem;
                fill: $color-principal;
            }

            .menu__icon--close {
                display: none;
            }
        
            #checkbox-menu:checked ~ ul.menu__nav li {
                display: block;
            }
            #checkbox-menu:checked ~ label.icon__menu .icon__close__menu {
                display: block;
            }
            #checkbox-menu:checked ~ label.icon__menu .icon__open__menu {
                display: none;
            }
        }

        .list__menu {
            flex-direction: column;
            gap: 2rem;
            align-items: center;

            li {
                list-style-type: none;
                display: none;

                a {
                        display: block;
                        padding: 15px 20px;
                }

        }
        }
    }
}
