//variables
$color-principal: #00cc00;
$color-dark: #222222;
$color-white: #fff;
$font-principal: Verdana, Geneva, Tahoma, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-principal;
    background-color: $color-dark;
    font-weight: lighter;
    color: $color-white;
    height: 100vh;

    @import 'header';
}

// @mixin permite agrupar varios comandos, formando 'funciones'
/*
@mixin font-style($color-principal, $fontSize){
    font-family: ;
    font-size: $fontSize;
    color: $color-principal;
    border: ;

h1 {
    @include font-stytle($color-principal, 24px);
*/