//variables
$color-principal: #00cc00;
$color-dark: #222222;
$color-white: #fff;
$font-principal: Verdana, Geneva, Tahoma, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-principal;
    background-color: $color-dark;
    font-weight: lighter;
    color: $color-white;
    height: 100vh;

    header {
        //display: flex;
        height: 100vh;
        width: 100%;

        .nav__menu {
            border-bottom: 1px solid $color-dark;
            
            .nav__toggle {
                position: absolute;
                cursor: pointer;
                margin: 0 1rem;
                right: 0;
    
                svg {
                    width: 1rem;
                    fill: $color-principal;
                }
    
                .close__icon {
                    display: none;
                    margin-top: 0.3rem;
                }
    
                .menu__icon {
                    margin-top: 0.3rem;
                }
            }
            .nav__checkbox {
                display: none;
            }  
            #nav-checkbox:checked ~ ul.nav__menu li {
                display: block;
            }
            #nav-checkbox:checked ~ label.nav__toggle .close__icon {
                display: block;
            }
            #nav-checkbox:checked ~ label.nav__toggle .menu__icon {
                display: none;
            }
        }

        .list__menu {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            margin: 1rem;

            li {
                list-style-type: none;
                display: none;

                :first-child {
                    margin-right: auto;
                    display: block;
                }
            }

            .menu__logo {
                height: 30px;

                img {
                    height: 100%;
                }
            }
        }
    }
}

// @mixin permite agrupar varios comandos, formando 'funciones'
/*
@mixin font-style($color-principal, $fontSize){
    font-family: ;
    font-size: $fontSize;
    color: $color-principal;
    border: ;

h1 {
    @include font-stytle($color-principal, 24px);
*/